@import "../../styles/variable.scss";

.landingSection {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 70px);
  h1 {
    font-size: 140px;
    font-family: $sacramento;
  }
  img {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .overlay {
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.25)
    );
    position: absolute;
    top: 0;
    left: 0;
  }
  .landingText {
    color: white;
    position: absolute;
    top: 0;
    z-index: 3;
    left: 0;
    p {
      font-size: 50px;
      position: relative;
      bottom: 100px;
      left: 20px;
      font-family: $sacramento;
    }
    .text {
      padding-left: 40px;
    }
  }
}

@media #{$media-mobile} {
  .landingSection {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 70px);
    h1 {
      font-size: 70px;
    }
    img {
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
    .overlay {
      z-index: 2;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.25)
      );
      position: absolute;
      top: 0;
      left: 0;
    }
    .landingText {
      top: 80px;
      text-align: center;
      width: 100%;
      p {
        font-size: 35px;
        position: relative;
        bottom: 50px;
        left: auto;
        font-family: $sacramento;
      }
      .text {
        padding-left: 40px;
      }
    }
  }
}
