@import "../../styles/variable.scss";

.itemGrid {
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  justify-items: stretch;
  align-items: stretch;
  padding: 50px 20px;
}

@media #{$media-tablet} {
  .itemGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media #{$media-mobile} {
  .itemGrid {
    grid-template-columns: 1fr;
  }
}
